@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Jura:wght@300..700&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
*{
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
    font-family: Manrope;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: linear-gradient(#F8A39B,#FFC120);
}
a{
    text-decoration: none;
    color: inherit;
}
.app{
   max-width:80%;
   min-width: 10%;
    margin: auto;
}
@keyframes fadeIn {
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}